body{
    padding: 0px !important;
}
.sidebar-toggle:hover, .navbar-brand:hover, .nav-link:hover{
    color: #000 !important;
}
.sidebar ul li a:hover{
    background: #212121 !important;
}
.card-body{
    overflow: auto !important;
}
.table{
    margin: auto;
    width: 100% !important;
}
.dataTables_wrapper{
    overflow-x: auto;
}
.scroll-sidebar{
    padding-top: 10px !important;
}
.sidebar-link{
    height: 40px !important;
}
.btn-success{
    color: white !important;
}
.navbar-header{
    background: none !important;
}