.sidebar-toggle:hover, .navbar-brand:hover, .nav-link:hover{
    color: #000 !important;
}
.sidebar ul li a:hover{
    background: #212121 !important;
}
.card-body{
    overflow: auto !important;
}
.table{
    margin: auto;
    width: 100% !important;
}